YT 2 SheetMusic/YT 2 SheetMusic/bin/
YT 2 SheetMusic/YT 2 SheetMusic/obj/
YT 2 SheetMusic/YT 2 SheetMusic/YT 2 SheetMusic_TemporaryKey.pfx
YT 2 SheetMusic/Opener/bin/
YT 2 SheetMusic/Opener/obj/
YT 2 SheetMusic/packages/
YT 2 SheetMusic/.vs/
